.card-cantores {
    text-align: left;
    margin: 10px 5px 10px 5px;
    padding: 6px 10px;
    color: #4B2922;
}

.cantores {
    background-color: #FFF8ED;
    border: 2px solid #4B2922;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;

    text-align: left;
}

.fotos {

    float: left;
    width: 200px;
    height: 160px;

    padding: 15px 20px 15px 5px;

}

.fotos img {
    width: 100%;
    height: 100%;

    margin: 10px 5px 10px 5px;
    object-fit: contain;
    display:block;
}