body {
    background-color: #fde3cf;
}

a {

    color: #325427
}





.banner {
height: 350px;
background-image: url("banner.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

