body {
    background-color: #e9b687;
}

.banner {
height: 220px;
background-image: url("banner.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

